{% extends "jsparent.html" %}
{% block body %}

    <div class="row w-75 text-center mx-auto">
        <div class="col-sm-12 text-center">
            <h1 style="text-align:center;">View Your Profile</h1>
            <form method="post" action="{% url 'jsapp:viewprofile' %}" class="form-group bg-light text-dark text-center mx-auto" style="
            border-radius: 40px;">
                {% csrf_token %}
                <table class="table text-dark bg-light mx-auto" style="width:60%; margin:auto; border:transparent">
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="name" value="{{jobseeker.name}}" class="form-control bg-light text-dark"/>
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="text" name="gender" value="{{jobseeker.gender}}" class="form-control bg-light text-dark"/>
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="address" class="form-control bg-light text-dark">{{jobseeker.address}}</textarea></td>
                </tr>
                <tr>
                    <td>Contact No</td>
                    <td>
                    <input type="text" name="contactno" value="{{jobseeker.contactno}}" class="form-control bg-light text-dark"/>  
                    </td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>
                    <input type="email" name="emailaddress" value="{{jobseeker.emailaddress}}" class="form-control bg-light text-dark" readonly/>  
                    </td>
                </tr>
                <tr>
                    <td>Qualification</td>
                    <td>
                    <input type="text" name="qualification" value="{{jobseeker.qualification}}" class="form-control bg-light text-dark" />  
                    </td>
                </tr>
                <tr>
                    <td>dob</td>
                    <td>
                    <input type="date" name="dob" value="{{jobseeker.dob}}" class="form-control bg-light text-dark"/>  
                    </td>
                </tr>
                <tr>
                    <td>experience</td>
                    <td>
                    <input type="text" name="experience" value="{{jobseeker.experience}}" class="form-control bg-light text-dark" />  
                    </td>
                </tr>
                <tr>
                    <td>Key Skills</td>
                    <td><textarea name="keyskills" class="form-control bg-light text-dark">{{jobseeker.keyskills}}</textarea></td>
                </tr>
                </table>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-5 py-2" style="border-radius: 10px;">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
